/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Normalizing CSS Properties  */

*,*::after,*::before {
margin: 0;
padding: 0;

box-sizing: inherit;
/* by default box-sizing is not inherited so we have to specify it */
}

html {
    font-size: 62.5%;
}

body {
font-family: "Lato",sans-serif;
font-weight: 400;
/* font-size: 1.6rem; */
line-height: 1.7;
padding: 3rem;
color: #777;

box-sizing: border-box; 
/* padding and border won't get considered in full widht*/
}

.block {
display: block;
}

.header {
height: 95vh;
background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
background-position: top;
background-size: cover;
clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
position: relative;
}

.header__logo-box {
position: absolute;
left: 2rem;
top: 2.5rem;
}

.header__logo {
width: 6.5rem;
}

.header__text-box {
position: absolute;
left: 50%;
top: 40%;
transform: translate(-50%,-50%);
backface-visibility: hidden;
text-align: center;
}

.heading-primary {
color:#fff;
}

.heading-primary--main {
font-size: 6rem;
font-weight: 400;
letter-spacing: 3.5rem;

animation-name: Fromleft;
animation-duration: 1.2s;
animation-timing-function: ease-out;
/*
animation-fill-mode:backwards;
*/
}

.heading-primary--sub {
font-size: 2rem;
font-weight: 700;
letter-spacing: 1.74rem;
animation: FromRight 1.2s ease-out ;
}

@keyframes Fromleft {

0% {
transform: translateX(-10rem);
}

70% {
transform: translateX(1rem);
}

100% {
transform: translateX(0);
}

}

@keyframes FromRight {

0% {
transform: translateX(10rem);
}

70% {
transform: translateX(-1rem);
}

100% {
transform: translateX(0);
}

}

.btn:link,.btn:visited {
text-transform: uppercase;
border-radius: 10rem;
padding: 1.5rem 4rem;
font-weight: 400;
text-decoration: none;
color:#777;
display: inline-block;
margin-top: 6rem;
transition: all .1s;    
position: relative;
font-size: 1.6rem;
/* give smooth transition to your animation including hover active etc */
}

.btn--white {
color: #777;
background-color: #fff;
}

.btn:hover {
transform: translateY(-3px);
box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
transform: translateY(-1px);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
content: "";
background-color:#fff;
width: 100%;
height: 100%;
display: inline-block;
position: absolute;
z-index: -1;
left: 0;
top: 0;
transition: all .2s;
border-radius: 10rem;
}

@keyframes toptext {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity:1;
    }

}


.btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}


.btn--animated {
    animation: toptext ease-out .5s .75s;
    animation-fill-mode: backwards;
}